<div class="min-h-screen bg-stone-100 flex flex-col">
  <!-- Navbar -->
  <nav class="w-full border-b border-b-stone-200 py-4">
    <h1 class="text-center text-stone-800 text-xl font-semibold">🎬 Shot List App</h1>
  </nav>

  <!-- Main Content -->
  <main class="flex-1 p-2 sm:p-4 lg:p-6">
    <router-outlet></router-outlet>
  </main>

  <!-- Footer -->
  <footer class="w-full border-t border-stone-200 py-4">
    <div class="max-w-6xl mx-auto flex items-center justify-center">
      <nav class="text-sm space-x-4">
        <a routerLink="/disclaimer" class="text-stone-600 cursor-pointer hover:underline"
          >Disclaimer</a
        >
        <a routerLink="/privacy" class="text-stone-600 cursor-pointer hover:underline">Privacy</a>
      </nav>
    </div>
  </footer>
</div>
